{{> logged-in-menu id="dashboard" }}

<h1>Dashboard</h1>
{{#each stations}}
    <div class="card mt-3">
        <div class="card-body p-2">
            <div class="d-flex flex-row">
                {{#each this.data}}
                    <div class="p-2">
                        <div class="card position-relative text-white bg-dark mb-3" style="width: 15rem; height: 100%">
                            <div class="d-flex flex-column position-absolute top-0 end-0 m-3">
                                <i class="fa {{icon}} fa-2x" style="color:{{icon_color}}"></i>
                                <i class="mt-2 fa {{trend_icon}} fa-2x" style="color: antiquewhite"></i>
                            </div>

                            <div class="card-body">
                                <h3 class="card-title">{{this.name}}</h3>
                                <p class="card-text">{{{this.text}}}</p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

            <a class="btn btn-default" aria-label="Left Align" href="/stations/{{this.station_id}}">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </a>
            <a class="btn btn-default" aria-label="Left Align" href="/delete-station/{{this.station_id}}">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
        </div>
    </div>
{{/each}}

<form action="/add-station" method="POST">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <label for="inputStationName" class="form-label">Name of weather station</label>
                <input type="text" class="form-control" id="inputStationName" name="location">
            </div>
            <div class="col-sm">
                <label for="inputLatitude" class="form-label">Latitude</label>
                <input type="number" step="any" oninput="validity.valid||(value='');" class="form-control" id="inputLatitude" name="latitude">
            </div>
            <div class="col-sm">
                <label for="inputLongitude" class="form-label">Longitude</label>
                <input type="number" step="any" oninput="validity.valid||(value='');" class="form-control" id="inputLongitude" name="longitude">
            </div>
        </div>
        <div class="row mt-2 float-end">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary mt-2">Add station</button>
            </div>
        </div>
    </div>
</form>

{{> footer }}